/* GLOBAL STYLES */
html, body {
    /*font-size: 62.5%;*/
    margin: 0;
    padding: 0;
    /*height: 800px;*/
}

h1 {
    font-size: 7vw;
    margin-top: 0;
}

h2 {
    font-size: 30px;
}

/*HERO STYLE*/
.full-hero {
    background-color: #c7dbfc;
    height: 50vh;
    /*width: 75vw;*/
}

/*HEADER STYLE*/
.header-nav{
    float: right;
    padding: 5.5vh 60px 0 0;
}
.header-nav > li{
    display:inline-block;
    margin-left: 1em;
}
.header-nav a{
    color: #000;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.header-nav >li:first-child a{
    color: red;
}
.header-nav >li:first-child a:hover{
    color: black;
}
.header-nav a:hover,
.header-nav a:active{
    color: #edea1e;
}
.header_logo:hover,
.header_logo:active{
    opacity: 0.5;
}
/* SOCIAL STYLES */
.social-link {
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: Helvetica,arial,sans;
    font-size: 1rem;
    font-weight: bold;
    width: 2.5em;
    line-height: 1;
    padding-top: 0.85em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 2.5em;
}

.social-list{
    list-style: none;
    padding: 0;
    text-align: center;
}
.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}
/* BIO STYLES */
.bio-wrapper {
    /*background-color: #c0e0c3;*/
    font-size: 24px;
    margin:0 auto 100px;
    max-width: 960px;
    /*height: 300px;*/
    /*width: 500px;*/
    /*overflow: scroll;*/
    overflow: hidden;

}
/*.bio-wrapper:after{*/
/*    visibility: hidden;*/
/*    display: block;*/
/*    font-size: 0;*/
/*    content: "";*/
/*    clear: both;*/
/*    height: 0;*/
/*}*/
.bio-box {
    /*font-size: 150%;*/
    /*margin: 10%;*/
    border: 1px solid black;
    box-sizing: border-box;
    /*border-color:black black red ;*/
    /*border-width: 1px 10px 20px 5px;*/
    /*border-style: solid solid dotted dashed;*/
    /*border-color: black green #ff0000 #c739de;*/
    font-size: 1rem;
    /*margin: 10% 3% 10% 3%;*/
    margin: 40px 1% 0;
    /*   padding: 2%;*/
    width: 23%;
    padding: 2%;
    float: left;
    box-sizing: border-box;
    border-color: transparent transparent black black;
}
/*.bio-box > a{*/
/*    color: #c68bf9;*/
/*}*/
.bio-box .social-link{
    margin: auto;
}
.bio-box h3 {
    color: #fff;
    font-size: 1.5em;
    margin: -40px 0 1em;
    /*padding: 50px;*/
    text-align: center;
}
.bio-box img{
    width: 100%;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
    /*padding: 20px;*/
}

.bio-copy a {
    /*font-size: 150%;*/
    color: #0f0;
    padding: 20px;
}

.test-box {
    background: #9db6db;
    /*display: inline-block;*/
    margin: 10px;
    /*width: 200px;*/
}

.test-box-nosizing {
    border: 10px solid #000;
    padding: 40px;
}

.test-box-sizing {
    box-sizing: border-box;
    display: block;
    width: auto;
    /*margin-top: 100px;*/
}