/* GLOBAL STYLES */
html{
    box-shadow: 0 0 10px 10px #000 inset;
    padding: 0 30px;
}
body {
    /*font-size: 62.5%;*/
    margin: 0;
    padding: 0;
    /*height: 800px;*/
}

h1 {
    /*font-size: 7vw;*/
    margin-top: 0;
}
h2 {
    font-size: 30px;
}
h2 + p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
}
/*HERO STYLE*/
.full-hero {
    background-color: #c7dbfc;
    /*box-shadow: 0 0 10px 10px rgba(0,0,0,0.9) inset;*/
    box-sizing: border-box;
    height: 100vh;
    background-size: cover;
    /*position: relative;*/
    /*width: 75vw;*/
    padding-top: 10vh;
}
.hero-home{
    background-image: url("../images/shark.jpg");
    background-position: center top;
}
.hero-content h1{
    color: rgba(255,255,255,0.5);
    margin-bottom: 0.25em;
}
.hero-content .social-link{
    background-color: rgba(255,255,255,0.5);
    color: #556c83;
}
.hero-content .social-link:hover{
    background-color: #000;
    color: #ffffff;
}
.hero-content{
    color: white;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    top: 50%;
    transform: translate(0, -50%);
}
.full-hero:hover,
.full-hero:active{
    background: coral;
}

/*HEADER STYLE*/
.header {
    background-color: #000;
    color: #fff;
    /*height: 300px;*/
    /*left: 200px;*/
    /*position: relative;*/
    /*width: 100%;*/
    position: fixed;
    width: 100%;
    z-index: 20;
}
.header-nav{
    float: right;
    padding: 5.5vh 60px 0 0;
    position: center;
}
.header-nav > li{
    display:inline-block;
    margin-left: 1em;
}
.header-nav > li ~ li {
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    padding-left: 1em;
}
.header-nav a{
    color: #fff;
    font-size: 0.8rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
}
.header-nav >li:first-child a{
    color: red;
}
.header-nav >li:first-child a:hover{
    color: black;
}
/*.header-nav li:last-child a          {*/
/*    color: #ed6e2f;*/
/*}*/
/*.header-nav li:last-child  a:hover   {*/
/*    color: #000;*/
/*}*/
.nav-links a:hover,
.nav-links a:active{
    color: green;
}
.header-logo{
    /*bottom: -50px;*/
    background-color:#000 ;
    box-sizing: border-box;
    display: block;
    position: relative;
    height: 10vh;
    left: -30px;
    padding: 10px;
    /*margin: -55px 0 0 -55px;*/
    width: 10vh;
    text-align: center;
}
.header-logo img {
    height: 100%;
    width: 4.3vh;
}
.header-logo:hover,
.header-logo:active{
    background-color:coral ;
}
/*FOOTER STYLES*/
.footer {
    background-color: #000;
    padding: 10vh 0 15vh;
    text-align: center;
}
.footer-logo img {
    width: 50px;
}
.footer h3 {
    color: #fff;
    padding-top: 1.5em;
    text-transform: uppercase;
}
.footer h3 span {
    color: #aaa;
}
.footer-nav li{
    display: inline-block;
    margin: 2em 1em 0;
}
.footer-nav a {
    color: gray;
}
/* SOCIAL STYLES */
.social-link {
    background-color: rgba(150, 150, 150, 0.2);
    border-radius: 99px;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-family: Helvetica,arial,sans;
    font-size: 1rem;
    font-weight: bold;
    width: 2.5em;
    line-height: 1;
    padding-top: 0.85em;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    height: 2.5em;
}
.social-link:hover,
.social-link:active
{
    background: lime;
}
.social-list{
    list-style: none;
    padding: 0;
    text-align: center;
}
.social-list > li {
    display: inline-block;
    margin: 0 0.5em;
}
/* BIO STYLES */
.bio-wrapper {
    /*background-color: #c0e0c3;*/
    font-size: 24px;
    margin:0 auto 100px;
    max-width: 960px;
    /*height: 300px;*/
    /*width: 500px;*/
    /*overflow: scroll;*/
    overflow: hidden;

}
/*.bio-wrapper:after{*/
/*    visibility: hidden;*/
/*    display: block;*/
/*    font-size: 0;*/
/*    content: "";*/
/*    clear: both;*/
/*    height: 0;*/
/*}*/
.bio-box {
    /*font-size: 150%;*/
    /*margin: 10%;*/
    border: 1px solid black;
    box-sizing: border-box;
    /*border-color:black black red ;*/
    /*border-width: 1px 10px 20px 5px;*/
    /*border-style: solid solid dotted dashed;*/
    /*border-color: black green #ff0000 #c739de;*/
    font-size: 1rem;
    /*margin: 10% 3% 10% 3%;*/
    margin: 40px 1% 0;
    /*   padding: 2%;*/
    width: 23%;
    padding: 2%;
    float: left;
    box-sizing: border-box;
    border-color: transparent transparent black black;
}
/*.bio-box > a{*/
/*    color: #c68bf9;*/
/*}*/
.bio-box .social-link{
    margin: auto;
}
.bio-box h3 {
    color: #fff;
    font-size: 1.5em;
    margin: -40px 0 1em;
    /*padding: 50px;*/
    text-align: center;
}
.bio-box img{
    width: 100%;
}

.bio-copy {
    font-size: 1em;
    line-height: 1.5;
    /*padding: 20px;*/
}

.bio-copy a {
    /*font-size: 150%;*/
    color: #0f0;
    padding: 20px;
}

.test-box {
    background: #9db6db;
    /*display: inline-block;*/
    margin: 10px;
    /*width: 200px;*/
}

.test-box-nosizing {
    border: 10px solid #000;
    padding: 40px;
}

.test-box-sizing {
    box-sizing: border-box;
    display: block;
    width: auto;
    /*margin-top: 100px;*/
}